{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block header %}
    <div class="section-contents">
        <img class="blockHeader" src="static/history.png" alt="deposit">
    </div>
{% endblock %}


{% block main %}
    <table class="table">
        <tr>
            <th class="table-info">Transaction ID</th>
            <th>Transaction Type</th>
            <th>Amount</th>
            <th>To/From</th>
            <th>Description</th>
            <th>Balance</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
        {% for row in history %}
            <tr>
                <td class="table-info">{{ row.id }}</td>
                <td>{{ row.category }}</td>
                <td>{{ row.value | ngn }}</td>
                <td>{{ row.to_from }}</td>
                <td>{{ row.description }}</td>
                <td>{{ row.balance | ngn }}</td>
                <td>{{ row.date }}</td>
                <td>{{ row.time }}</td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}
